
 @model IEnumerable<WebApplication.Data.Entity.Employee>


<div class="panel_container">


       

<table class="table_block">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Логин</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            { 
                
                    <tr>
                        <td>@item.Lname</td>
                        <td>@item.Fname</td>
                        <td>@item.Mname</td>
                        <td>@item.Login</td>
                        <td><a asp-action="empls_edit_page" asp-controller="home" asp-route-id="@item.EmployeeId">Изменить</a></td>
                        <td><a asp-action="empls_reactive" asp-controller="home" asp-route-id="@item.EmployeeId">Уволить</a></td>
                    </tr>
               
            }
        </table>


    <div class="flex_wrapper">

        <form asp-controller="home" asp-action="empls_panel_form" method="post">
                <input type="submit" value="Добавить"  class="button_place" />
            </form>

        <form asp-controller="home" asp-action="empls_unactive" method="post">
                <input style="background-color: #e74c36" type="submit" value="Восстановить"  class="button_place" />
            </form>


    </div>

</div>